.principal{
    text-align: center;
    margin: 10%;
}*/
.contenedor {
    display: flex;
    align-items: center;
}

.imagen {
    width: 170px;
    flex: 1; 
    padding: 20px; 
    
}

.texto {
    width: 160px;
    flex: 2; 
    padding: 20px;
}
.imge{
    width: 170px;
}
.Botones{
    width: 190px;
    height: 150px;
    margin: 0%;    
    display: inline-block ;    
}

.boton_I{
    background: rgb(85, 85, 224);
    text-decoration-color: white;
    
    width: 150px;
    flex-grow: 100%;   


}
.boton_D{
    background: rgb(85, 85, 224);
    text-decoration-color: aliceblue;
    width: 150px;    
    flex-grow: 100%;   

}
.enlaces{
    text-decoration: none;

}
.enlaces:visited{
    color: white;
    
}